
<input id="con-id" type="hidden" value="<% id %>" />
<h1>
	That is all!
</h1>
<h2>Conversation</h2>
<div id="mails"></div>
<div class="replay">
<h2>Replay</h2>
<form role="form" id="replay-form">
 	<div class="form-group">
		<label >Email address</label>
		<input class="form-control" type="text" name="from_email" />
	</div>
	
 	<div class="form-group">
		<label >Message</label>
		<textarea name="body" class="form-control" rows="" cols=""></textarea>
	</div>
	
	<button id="replay-btn" type="submit" class="btn btn-default">Replay</button>
</form>
</div>

<script type="text/javascript">
<!--
	var mails;
	var conId = $("#con-id").val()
	$(function() {

			update_con();
			
			// this is the id of the form
			$("#replay-form").submit(function() {
			
			    $.ajax({
			           type: "POST",
			           url: '/conversation/'+conId,
			           data: $("#replay-form").serialize(), // serializes the form's elements.
			           success: function(data)
			           {
			               update_con();
			           }
			         });
			
			    return false; // avoid to execute the actual submit of the form.
			});
			
			
	})
	
	function update_con() {
	$("#mails").html("");
		$.ajax({
				  url: '/conversation/'+conId,
				  data: {},
				  success: function( data ) {
						$("h1").html(data.subject);
						$.each(data.messages, function( index, value ) {
							  $("#mails").append("<p><h3>Mail from "+value.from_email+"</h3><p>"+value.body+"</p>");
						});
						
					},
				  dataType: "json"
				});
	}

//-->
</script>
