body {
	background: lightslategrey;
}

.container {
	background: whitesmoke;
}

h1 {
	color: grey;
}

#mails {
	margin: 0px 20px;
}

#footer {
	margin: 20px;
	text-align: center;
}

.replay {
	background: white;
	border-radius: 3px;
	padding: 5px;
}